<template>
  <header class="header">
    <br>
    <div class="header-container">
      <img src="../assets/cards.png" alt="blackjack icon">
      <h1>Blackjack</h1>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
.header {
  background-color: #7698de;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.header-container{
  display: flex;
  flex-direction: row;
  height: 5em;
  font-size: 1em;
  justify-content: center;
  color: black;
  padding-bottom: 1em;
}

img {
  height: auto;
  width: auto;
  color: white;
  margin-right: 10px;
}

</style>