<template>
  <main>
    <h1>{{state}}</h1>
    <h2 v-if="playerStand">Dealer total: {{dealerTotal}}</h2>
    <div>
      <img style="margin-right: 5px; margin-left: 5px" v-for="p in dealer" :key="p.id" v-bind:src="p.getImage()" width="10%" v-bind:alt="p.code">
    </div>
    <br>
    <h2>Player total: {{playerTotal}}</h2>
    <div>
      <img style="margin-right: 5px; margin-left: 5px" v-for="p in player" :key="p.id" v-bind:src="p.getImage()" width="10%" v-bind:alt="p.code">
    </div>
    <br>
    <div>
    <button v-on:click="playerDraw">Hit</button>
    <button style="margin-bottom: 2em" v-on:click="dealerDraw">Stand</button>
    </div>
  </main>
</template>

<script>
import {store} from "@/store";
import {fetchId} from "@/api/cardAPI";
import {fetchCard} from "@/api/cardAPI";
import {Card} from "@/api/cardAPI";
import {getTotal} from "@/api/cardAPI";
import {sleep} from "@/api/cardAPI";

export default {
  name: "Play",
  data()
  {
    return{
      player: store.state.playerDeck,
      dealer: store.state.dealerDeck,
      id: null,
      state: "Hit or Stand",
      playerTotal: 0,
      dealerTotal: 0,
      playerStand: false,
      gameFinished: false
    }
  },
  async created()
  {
    this.id = await fetchId();
    for (let i = 0; i < 2; i++)
    {
      const card = await fetchCard(this.id);
      this.player.push(new Card(card.code, card.value, card.image, true));
      this.playerTotal = getTotal(this.player);
    }
    for (let i = 0; i < 2; i++)
    {
      const card = await fetchCard(this.id);
      this.dealer.push(new Card(card.code, card.value, card.image, (i !== 1)));
      this.dealerTotal = getTotal(this.dealer);
    }
    if (this.playerTotal === 21)
    {
      this.gameFinished = true;
      this.state = "BLACKJACK!";
    }
    else if (this.playerTotal > 21)
    {
      this.gameFinished = true;
      this.state = "Bust!";
    }
  },
  methods:{
    async playerDraw()
    {
      if (this.playerStand || this.gameFinished) return;
      const card = await fetchCard(this.id);
      this.player.push(new Card(card.code, card.value, card.image, true));
      this.playerTotal = getTotal(this.player);
      if (this.playerTotal === 21)
      {
        this.gameFinished = true;
        this.state = "BLACKJACK!";
      }
      else if (this.playerTotal > 21)
      {
        this.gameFinished = true;
        this.state = "Bust!";
      }
    },
    async dealerDraw()
    {
      if (this.gameFinished) return
      this.playerStand = true;
      this.dealer[1].show = true;
      while(this.dealerTotal < 17)
      {
        await sleep(1000);
        const card = await fetchCard(this.id);
        this.dealer.push(new Card(card.code, card.value, card.image, true));
        this.dealerTotal = getTotal(this.dealer);
      }
      if (this.dealerTotal === 21) this.state = 'Dealer wins!'
      else if (this.playerTotal === this.dealerTotal) this.state = "Draw";
      else if (this.dealerTotal > this.playerTotal && this.dealerTotal < 22)
          this.state = "Dealer wins!";
      else this.state = "You win!";
    }
  },
}
</script>
<style scoped>
img {
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

div {
  display: flex;
  justify-content: center;
}
</style>