<template>
  <main>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <label for="playerName"/>
      <input type="text" id="playerName" placeholder="Enter your name" v-model='playerName'/>
      <button class="start-btn" @click="startGame">Start</button>
    </div>
  </main>
</template>

<script>
export default {
  name: "Start",
  data() {
    return {
      playerName: ''
    }
  },
  methods: {
    startGame(){
      if (this.playerName === ''){
        alert('Please provide a username')
      } else {
        this.$router.push(`/play/${this.playerName}`);
      }

    }
  }
}

</script>

<style>

.container {
  background-color: #7698de;
  height: 500px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;

}

button{
  height: 3.8em;
  width: 8em;
  border-radius: 0.5em;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);;
}

input {
  height: 3em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}

</style>